<section *ngFor="let group of bookmarks$ | async | keyvalue ">
  <h3 mat-subheader>{{ group.key }}</h3>
  <app-bookmark-item *ngFor="let item of group.value"
                     [bookmark]="item"
                     (onOpenPage)="openPage($event)"
                     (onDelete)="deleteItem($event)"></app-bookmark-item>
</section>

<app-bookmark-add (addItem)="addItem($event)"></app-bookmark-add>
