<mat-card class="bookmark"
          (click)="openPage(bookmark.url)">
  <mat-card-header>
    <mat-card-title>{{bookmark.name}}</mat-card-title>
    <mat-card-subtitle class="bookmark__subtitle">{{bookmark.group}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions class="bookmark__actions">
    <button mat-button
            (click)="delete($event, bookmark.id)">
      DELETE
    </button>
  </mat-card-actions>
</mat-card>
