.bookmark {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
  cursor: pointer;

  &__actions {
    margin: 0;
    padding: 0;
  }

  &__subtitle {
    margin-bottom: 0;
  }
}
