<section class="bookmark-add">
  <form class="bookmark-add__form"
        [formGroup]="formGroup"
        (submit)="onSubmit()">

    <mat-form-field>
      <input matInput
             placeholder="Name"
             [formControl]="formGroup.get('name')">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="Url"
             [formControl]="formGroup.get('url')">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Group</mat-label>
      <select matNativeControl
              required
              [formControl]="formGroup.get('group')">
        <option value="WORK">Work</option>
        <option value="LEISURE">Leisure</option>
        <option value="PERSONAL">Personal</option>
      </select>
    </mat-form-field>

    <button class="bookmarks__action-add"
            mat-raised-button
            color="primary"
            type="submit">
      Add new item
    </button>
  </form>
</section>
